
html {
    background: white;
    font-size: $size-6;

    &.no-scroll,
    &.has-modal {
        overflow: hidden;
    }
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
  .search-form {
    position: relative;
    border-bottom: 2px solid rgba(255,255,255,.3);
}
.search-input {
  border: 0;
  background: 0 0;
  font-size: 2.4rem;
  outline: 0;
}
img {
    // max-width: 250px;
}